<div class="container row">
    <div class="card shadow" style="width: 18rem; margin: 1em;">
        <img class="card-img-top" src="./assets/images/police_badge512.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Police award</b></h5>
          <p class="card-text">You can unlock this award by reporting more than 5 toxic jokes.</p>
        </div>
    </div>

    <div class="card shadow" style="width: 18rem; margin: 1em;">
        <img class="card-img-top" src="./assets/images/funniest_award512.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Funniest award</b></h5>
          <p class="card-text">You can unlock this award by reaching the highest positive reactions.</p>
        </div>
    </div>

    <div class="card shadow" style="width: 18rem; margin: 1em;">
        <img class="card-img-top" src="./assets/images/noob_award512.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Noob award</b></h5>
          <p class="card-text">You can unlock this award by posting 5 jokes.</p>
        </div>
    </div>

    <div class="card shadow" style="width: 18rem; margin: 1em;">
        <img class="card-img-top" src="./assets/images/daily_award512.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Daily award</b></h5>
          <p class="card-text">You can unlock this award by being the funnies joke publisher of the day.</p>
        </div>
    </div>

</div>
