<div id="app">
  <nav class="navbar navbar-expand navigation-bar">
    <a href="/home" routerLink="home" class="navbar-brand navbar-text">4Men1Joke</a>
    <a *ngIf="isLoggedIn" href="/create-post" routerLink="create-post" class="nav-link navbar-text">Create a post</a> 

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link navbar-text" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link navbar-text" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link navbar-text" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link navbar-text" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container main-container">
    <router-outlet></router-outlet>
  </div>
</div>
